# Ignore virtual environment directories
venv/
*.venv/

# Ignore video/audio files
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv
*.mp3

# Ignore image files
*.jpg
*.jpeg
*.png
*.gif     

*.txt

/images/
/text/
/audio_segments/
/__pycache__/

